@import "tailwindcss";

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s forwards;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 0;
  }
}

@layer utilities {
  .animate-fadeInOut {
    animation: fadeInOut 3s forwards;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@layer utilities {
  .animate-shake {
    animation: shake 0.5s infinite;
  }
}
body {
  font-family: "Poppins", sans-serif;
}
